*{
    padding: 0;
    margin: 0;
    /* background: white; */
    color: black;
    /* overflow: hidden; */
}
/* loader */

.loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fcfcfd;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.loader > img{
    width: 50%;
}

.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

/* this is the container that wraps the content in main page */
.main-container{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 00;
    margin-top: 10%;
    line-height: 1.3;
}
.boxlink{
    text-decoration: none;
    color: #08bbbb;    
    border-radius: .8rem;
    padding: 0.15% 0.2%;
    border: 1px solid #08bbbb; 
}
.boxlink:hover{
    text-decoration: none;
    color: white;   
    background-color:  #08bbbb; 
    border-radius: .8rem;
    /* padding: 0.3% 0.3%; */
    padding: 0.15% 0.2%;
    border: 1px solid #08bbbb;
}
.boxlink_about{
    text-decoration: none;
    color: #08bbbb;    
    border-radius: .8rem;
    padding: 4% 4%;
    border: 1px solid #08bbbb; 
}
.boxlink_about:hover{
    text-decoration: none;
    color: white;   
    background-color:  #08bbbb; 
    border-radius: .8rem;
    padding:  4%  4%;
    /* padding: 0.15% 0.2%; */
    border: 1px solid #08bbbb;
}
h1{
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    font-size: 2.3rem;
    font-weight: normal;
}
h1::selection { 
    background-color: #52f7f7; 
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
    /* text-decoration-color: #52f7f7; */
}
.video-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    
}
video.video {
    object-fit: cover;
    height:100vh;
    width: 100vw;
    position: absolute;
    z-index: -1000;
    opacity:0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    /* display: none; */
  }


/* positioning the p5js design */
#canvas1{
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}
/* making the page responsive  */
@media only screen and (min-width: 1000px) {
    .main-container{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.4;
    }
    h1{
        font-size: 2.1rem;
    }
}

@media only screen and (max-width: 1000px) {
    .main-container{
        /* width: 80%; */
        margin-left: auto;
        margin-right: auto;
        line-height: 1.4;
    }
    h1{
        font-size: 1.7rem;
    }

}

@media only screen and (max-width: 700px) {
    .main-container{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.4;
    }
    h1{
        font-size: 1.7rem;
    }
    .video-container{
        display: none;
    }
    #canvas1{
        display: none;
    }
    .boxlink{
    text-decoration: none;
    color: #08bbbb;    
    border-radius: .8rem;
    padding: 0.8% 1%;
    margin-top: 1%;
    border: 1px solid #08bbbb; 
}
   
  }

  /* ----------about page starts here--------- */

  .stick{
    background-color: white;
    /* width: 110%; */
    position: -webkit-sticky; 
    position: sticky;
    z-index: 10;
    top: 0;
  }
  .gallery-container{
    width: 100%;
    position: relative;
    margin: 3% auto;
    z-index: -1;
  }
   
  .image{
    width: 50%;
    /* height: 50%; */
  }

  .image_ml{
    width: 100%;
    /* height: 50%; */
  }
  
.description {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
  }
  
  .description h2 {
    display: flex;
    flex-direction: row;
  }
  
  .description span {
    margin: 0 10px;
  }
.about-description{
    margin-bottom: 2%;
}
.about-container{
    margin-top: 2%;
}
/* --------------Projects Start here ----------------- */
.subHeading{
    font-size: 1.8rem;
}
p{
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 50px;
    
}

/* Alert */
.muteImg{
    height: 25px;
    width: 25px;
    background: transparent;
    cursor: pointer;
}
#alert{
    position: absolute;
    left: 20%;
    top: 6%;
    
}
#mute{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
#unmute{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    display: none;
}
.hide{
    display: hidden;
}

@media only screen and (max-width: 1000px) {
    #alert{
        position: absolute;
        left: 18%;
        top: 3%;
        
    }
}
@media only screen and (max-width: 700px) {
    #alert{
        display: none;
        
    }
}
