/* variables.css */
:root {
    /* colors */
    --primary-background-color: #ffffff;
    --primary-transparent-background-color: #f0f0f000;
    --primary-color: #000000;
    --secondary-color: #2ecc71;
    --ahref-color: #0084ff;
    --ahref-hover-color: #0084ff7a;
    --binance-color: #f0b90b;
    --binance-color-hover: #000000;
    --ahref-footer-color: #000;

    /* spacing */
    --spacing-unit: 8px;
    --border-radius: 4px;

    /* fonts */
    --font-face: 'Lato', sans-serif;
    --font-size-base: 20px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 32px;
    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-h4: 12px;
 
    /* Dark theme colors */
    --dark-primary-color: #ffffff;
    --dark-secondary-color: #1a9c4d;
    --dark-background-color: #121212;
    --dark-ahref-color: #4db8ff;
    --dark-ahref-hover-color: #4db8ff7a;
    --dark-ahref-footer-color: #ffffff;
  }
  
  /* Dark theme class */
  .dark-theme {
    --primary-color: var(--dark-primary-color);
    --secondary-color: var(--dark-secondary-color);
    --ahref-color: var(--dark-ahref-color);
    --ahref-hover-color: var(--dark-ahref-hover-color);
    --ahref-footer-color: var(--dark-ahref-footer-color);
    background-color: var(--dark-background-color);
  }
  